* {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    font-size: 20px;
    color: indigo;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

header > p {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 5px;
}

.add {
    width: 15rem;
    height: 3rem;
    padding: 10px 0;
    font-size: 1.5rem;

    border-radius: 20px;
    border: none;
    background-color: lightyellow;
    box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.464);
    transition: 0.1s ease-in-out;
}

.add:hover {
    transform: translate(-1px, -1px);
    box-shadow: 3px 3px 2px rgba(33, 33, 33, 0.464);
}

.add:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 1px rgba(33, 33, 33, 0.464);
}

/* Add New Book form */
.add-form {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    padding: 20px 30px;
    gap: 10px;
    margin-top: 25px;
    border-radius: 20px;
}

.book-info {
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 20px;
}

.book-info > label {
    justify-self: center;
    align-self: center;
}

.book-info > input {
    max-width: 10rem;
    padding: 5px 10px;
}

#book-pages {
    text-align: end;
}

#new-book {
    width: 8rem;
    height: 1.8rem;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
    box-shadow: 1px 1px 2px black;
}

#new-book:active {
    box-shadow: inset 1px 1px 2px black;
}

/* Shelf Styling */
.main-stage {
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

.lib-display {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

/* Book Items Styles */
.book {
    width: 200px;
    text-align: center;
    transition: 1s ease-in-out;
}

.book-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    background-color: blanchedalmond;
    height: 250px;
    padding: 20px;
    margin-bottom: 10px;
}

.author {
    font-weight: 500;
}